<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/styles/index.css">
        <link rel="stylesheet" type="text/css" href="/styles/admin.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <title>FAQ</title>
    </head>
    <body>
        <% if(permission){%>
        <a href="/en"><img class="goback" src="/imgs/back.png"></a>
        <div class='mainHead'>Admin panel</div>
        <div class="addAdmin">
            <img class="addAdminImg" src="/imgs/plus.png" alt="Add new admin">
        </div>
        <div class='adminCont'>
            <div class='adminUserBlFilters'>
                <div class='adminUserBlFiltersLogin' style="display: block">Login</div>
                <div class='adminUserBlFiltersLogin' style="display: block">Password</div>
                <div class='adminUserBlFiltersLogin' style="display: block">Actions</div>
            </div>
            <div class='adminUserBlNewFilters'>
                <textarea class='adminUserBlFiltersNewLogin' contenteditable="true" maxlength="16" placeholder="Login(up to 16 characters)"></textarea>
                <textarea class='adminUserBlFiltersNewLogin' contenteditable="true" maxlength="15" type="password" placeholder="Password(up to 15 characters)"></textarea>
                <div class='adminUserBlFiltersNewLogin'>
                    <input class="createAdminBut" type="button" value="Create an admin">
                    <div class="spinner-border" style="display: none" role="status"></div>
                </div>
            </div>
            <div class="adminContUsers">
                <% for(let i = 0; i < admins.length; i++ ){
                    if(admins[i].login != 'admin'){%>
                        <div class="adminUserBl">
                            <div class="adminUserBlId"><%=admins[i]._id %></div>
                            <div class='adminUserBlLogin'><%=admins[i].login %></div>
                            <div class='adminUserBlLogin'><%=admins[i].password %></div>
                            <div class='adminUserBlFiltersLogin justify-content-center'>
                                <img src="/imgs/delete.png" class="adminUserBlDelete">
                                <img src="/imgs/pencil.png" class="adminUserBlChange">
                                <div class="spinner-border" style="display: none" role="status"></div>
                            </div>
                            <textarea class='adminUserBlFiltersNewLogin' style='display: none' contenteditable="true" maxlength="16" placeholder="Login(up to 16 characters)"><%=admins[i].login %></textarea>
                            <textarea class='adminUserBlFiltersNewLogin' style='display: none' contenteditable="true" maxlength="15" type="password" placeholder="Password(up to 15 characters)"><%=admins[i].password %></textarea>
                            <div class='adminUserBlFiltersNewLogin' style='display: none'>
                                <input class="saveAdminBut" type="button" value="Save">
                                <input class="dontCreateAdminBut" type="button" value="Don't save">
                                <div class="spinner-border" style="display: none" role="status"></div>
                            </div>
                        </div>
                    <%}
                } %> 
            </div>
        </div>
        <%}else{%>
        <div class="noPermission">You don't have enough rights.</div>
        <div class='noPermission'><a href="/en">Go back to the main page</a></div>
        <%}%>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/scripts/en-admin.js"></script>
    <script src="/scripts/en-curses.js"></script>
    <script src="/scripts/en-qa.js"></script>
</html>